//
// Helper classes

.element-hidden {
  display: none;
}

// //
// // Inline lists
// //

// .list-inline{
//   padding-left: 0;
//   margin-left: -1em;
//   list-style: none;

//   &>li{
//     display: inline-block;
//     padding-right: 1em;
//     padding-left: 1em;
//   }
// }

// // Section title

// .section-title{
//   font-size: $font-size-xxl;
//   margin-bottom: rhythm(3/2);

//   &:after{
//     @include title-border;
//     margin-left: 0;
//   }
// }

// // Backgrounds

// .bg-gray{
//   background-color: $brand-tertiary;
//   margin: 0 rem(20) rem(20);
//   padding: rhythm(1) 0;
// }

// // Spaced content
// .spaced{
//   margin-bottom: rhythm(1);
//   margin-top: rhythm(1);

//   @include mappy-query(b-small) {
//     margin-bottom: rhythm(3);
//     margin-top: rhythm(3);
//   }
// }

// .spaced-lg{
//   margin-bottom: rhythm(2);
//   margin-top: rhythm(2);

//   @include mappy-query(b-small) {
//     margin-bottom: rhythm(5);
//     margin-top: rhythm(5);
//   }
// }

// // Page title

// .page__title{
//   text-align: center;

//   &:after{
//     @include title-border;
//     margin: rhythm(1) auto;
//   }
// }

.button {
  background: #fcfcfc;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  color: #0a2336;
  font-size: .88rem;
  line-height: 1.5;
  padding: .3rem .6rem .2rem;
  cursor: pointer;
  box-shadow: rgba(#111, .06) 0 1px 1px;

  &:hover {
    border-color: darken(#dbdbdb, 10%);
    box-shadow: rgba(#111, .06) 0 2px 2px;
  }
}

.button--unstyled {
  @include button-unstyled;
}

.button--unchecked {
  @include button-unchecked;
}
