// Layout

.page {
  margin: 0 auto;
  padding: 0 1rem;

  @media screen and (min-width: 421px) {
    padding: 0 2rem;
  }
}

.page-header {
  align-items: center;
  display: flex;
  margin: 1rem 0;

  .nav {
    margin-left: auto;
  }
}

.page-title {
  font-size: 0;
  margin: 0;

  a {
    text-decoration: none;
    background-color: $brand-primary;
    border-radius: 50%;
    display: inline-flex;
    padding: 2px;
    box-shadow: 0 0 0 0 $brand-primary;

    &:hover {
      text-decoration: none;
      box-shadow: 0 0 0 2px $brand-primary;
    }
  }
}

.page-title__text {
  @include sr;
}
