// Layout

.page {
  margin: 0 auto;
  padding: 0 1rem;

  @media screen and (min-width: 421px) {
    padding: 0 2rem;
  }
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-flow: row wrap;
  margin: 1rem 0 2rem;

  @media screen and (min-width: 421px) {
    margin: 2rem 0;
  }
}

.page-title {
  font-size: 1rem;
  letter-spacing: .01em;
  line-height: 1.5;
  margin: 0;
  text-transform: uppercase;
}
